.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 6rem;
    box-sizing: border-box;
    align-content: center;
    /* background-color: transparent; */
    color: white;

}


.header-list li{
    list-style: none;
    /* padding: 1px; */
}
.header-list li div {
    text-decoration: none;
    color: white;
    cursor: pointer;
    /* margin: 2px; */
}
.header-nav {
    text-decoration: none;
    color: white;
    transition: color 1s, border 1s;
}
.active {
    border-top: 2px solid #ffac12 ;
    color:#ffac12 
}
.active-mobile {
    color: #ffac12;
}
.logo {
    width: 200px;
    height: auto;
}
.ham-icon {
    cursor: pointer;
    height: 15px;
}
.hamb-button {
    background-color: transparent;
    border: none;
    color: white;
}
.main-section {
    /* min-height: 300vh; */
    background-color: white;
    /* padding: 10px; */
    /* margin: 10px; */
    /* padding: 20px; */
}
.side-bar-menu {
    display: none;
    position: absolute;
    width: 140px;
    background-color: rgb(0,0,0,0.9);
    height: 100vh;
    top: 0;
    right: 0; /* Initially off-screen */
    /* transform: translate(100%, 0px); */
    transition: transform 0.5s;
}
.hide {
    transform: translate(100%, 0px);
}
.show {
    transform: translate(0,0);
}
.close-button {
    cursor: pointer;
}

@media (max-width: 767px) {
    .hide-menu {
        display: none;
    }
    .main-section {
        background-color: #fffaf6;
    }
    .side-bar-menu{
        display: block;
    }
}