.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23.87%;
    min-height: 326px; 
    min-width: 244px;
    border-radius: 20px;
    border: none;
    transition: box-shadow 0.5s;
    position: relative;
    cursor: pointer;
    margin-bottom: 3%;

}
.card:hover {
    box-shadow: 
    15px 0 20px rgba(0, 0, 0, 0.2),  /* Lighter shadow on the right */
    0 15px 20px rgba(0, 0, 0, 0.2);
}
.icon-div{
    width: 33.33%;
    padding: 2%;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 50px;
}
.icon-div-child {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-size: 18px;
}
.img-container{
    min-height: 180px;
}
.card-img{
    /* height: 180px; */
    height: 100%;
    border: none;
    border-radius:20px 20px 0px 0px;
}


@media (max-width: 767px) {
    .cardContainer{
        /* gap: 10px; */
        justify-content: space-around;
        
    }
}
@media (max-width: 1149px) {
    .card{
        width: 32.3%;
        min-width: 274px;
    }
}
@media (max-width: 977px) {
    .card{
        width: 49.2%;
        min-width: 239px;
    }
}
@media (max-width: 583px) {
    .card{
        width: 100%;
    }
}