.detailContainer{
    background-color: #f5f5f5;
}
.detail-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 68%;
    gap: 5vh;
}
.detail-box {
    width: 20%;
    align-content: center;
    height: 7vh;
}
.w-33{
    width: 33%;
}
.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    min-height: 60vh;
    
  }
.main-descriptions {
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: start;
    padding: 1.5rem;
    flex-wrap: wrap;
    width: 80%;
}

.home-name{
    width: 50%;
}
.main-page{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    gap: 10px 10px;

}
.form-cont{
    width: 30%;
    height: fit-content;
}
.similar-carousel{
    width: 80%;
}
.image-gallery-container{
    object-fit: cover;
}
.img-carousel {
    width: 100%;
    max-height: 600px;
    height: fit-content;
    object-fit: cover;
}
  .crud-button{
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 100%;
    padding: 5px;
}
.crud-button:hover{
    background-color: rgba(0,0,0,0.1);
}
.description-info{
    white-space: pre-wrap;
    max-height: 60vh;
    overflow: scroll;
}
@media (max-width: 767px) {
    .main-descriptions {
        width: 100%;
    }
    .main-page{
        flex-direction: column;
        width: 95%;
    }
    .detail-main{
        width: 100%;
    }
    .form-cont{
        width: 100%;
    }
    .similar-carousel{
        width: 95%;
    }
    .home-name{
        width: 100%;
    }
}
@media (max-width: 583px) {
    .w-33{
        width: 45%;
        text-align: end;
    }
}