.footer {
    min-height: 80px;
    background-color: black;
    color: white;
    width: 80%;
    margin: auto;
}
.list-footer {
    list-style: none;
    justify-content: space-between;
}
.list-footer a {
    text-decoration: none;
    color: white;
}
.foot-color {
    color: #ffac12 ;
}
@media (max-width: 767px) {
    .list-footer {
        flex-direction: column;
    }
}